.messages {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.messages__header {
	flex: 0.1;
	border-bottom: 0.15rem solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1em;

	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 1000;
}

.messages__author {
	display: flex;
	gap: 1em;
	align-items: center;
}

.messages__author a {
	color: #000;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.messages__author p:nth-child(2) {
	font-size: smaller;
	display: flex;
	align-items: center;
	color: grey;
}

.messages__header_actions svg {
	color: #000;
	font-size: larger;
}

/* Message body */
.messages__body {
	/* flex: 0.8; */
	height: 100%;
	overflow-y: auto;
	/* display: flex;
	flex-direction: column; */
}

/* Message form */
.messages__form {
	flex: 0.1;
	border: 0.15em solid #eee;
	border-radius: 10rem;
	margin: 0 1em 1em 1em;
	padding: 0 0.5em;

	display: flex;
	align-items: center;
	position: sticky;
	bottom: 1rem;
	z-index: 1000;
	background-color: #fff;
}

.messages__form svg {
	color: #000;
	font-size: larger;
}

.messages__form > button[type="submit"] {
	display: none;
}

.messages__form > input {
	flex: 0.99;
	font-size: medium;
}

.messages__error {
	color: red;
}

/* Chat bubble */
.chatBubble,
.chatBubble__mine {
	margin: 0.3em;
	position: relative;
}

.chatBubble > p,
.chatBubble__mine > p {
	width: fit-content;
	max-width: 45%;
	padding: 1em;
	background-color: #efefef;
	border-radius: 2rem;
	white-space: normal;
}

.chatBubble__mine > p {
	background-color: #3797f0;
	color: #fff;
	position: relative;
	right: -55%;
	/* position: absolute;
	right: 0; */
}

/* Media Queries */
@media only screen and (max-width: 900px) {
	.messages {
		flex: 0.8;
	}
}

@media only screen and (max-width: 650px) {
	.messages__form {
		margin: 0 1em 3.5em 0.5em;
	}

	.messages__form svg {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 490px) {
	.messages__form_actions button:nth-child(2),
	.messages__form_actions button:nth-child(3) {
		display: none;
	}

	.messages__header_actions button:nth-child(1),
	.messages__header_actions button:nth-child(3) {
		display: none;
	}
}
